# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter/

# IDE related
.idea/
.vscode/
*.iml

# System files
.DS_Store
Thumbs.db

# Android specific
android/.gradle/
android/app/key.properties
android/local.properties

# iOS specific
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies

# Web
web/.dart_tool/
web/build/

# Linux
linux/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Windows
windows/flutter/ephemeral/
windows/Runner/generated_plugin_registrant.cc

# Other
*.log
